.todo-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 150px) 100px;

    border: 1px solid rgba(128, 128, 128, 0.451);
    padding: 0.5em;
    margin: 0.2em;
    gap: 0.5em;
    align-items: center;
    position: relative;
}

.todo-card-title {
    grid-row-start: 1;
    grid-column: 1/4;
}

.todo-card-project-select {
    grid-row-start: 2;
}

.todo-card-date-select {
    grid-row-start: 2;
}

.todo-card-priority-select {
    grid-row-start: 2;
}

.todo-card-submit {
    grid-row-start: 1;
    grid-column: 4/5;
}

.todo-card-reset {
    grid-row: 1/1;
    grid-column: 4/5;
}
