.task {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1.2em repeat(3, 150px);

  border: 1px solid rgba(128, 128, 128, 0.451);
  padding: 0.5em;
  margin: 0.2em;
  gap: 0.5em;
  align-items: center;
  position: relative;
}

/* .task {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.451);
  margin: 0.2em;
  gap: 0.5em;
  align-items: center;
  border-radius: 5px;
  width: max-content;
  position: relative;
} */

.checkbox {
  height: 1.2em;
  width: 1.2em;
}

.task-title {
  outline: none;
  border: none;
  font-size: 1.2em;
  /* width: 30ch; */
  grid-column: 2 / 6;
  grid-row: 1;
}

.task-title:focus {
  border-bottom: 1px solid green;
}

.task input[type="date"] {
  grid-column: 2 / 3;
  grid-row: 2;
  font-size: 0.8em;
  border-radius: 0.4em;
}

.delete-button {
  /* appearance: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  border-radius: 0.2em;
  appearance: none;
  background-color: #ffa79674;
  visibility: hidden;
  position: absolute;
  right: 20px;
}

.delete-button svg {
  height: 60%;
  width: 60%;
  fill: #9b1313b6;
}

.delete-button:hover {
  box-shadow: 1px 1px 3px #cd1c18;
}

.task:hover {
  box-shadow: 1px 1px 3px gray;
}

.task:hover .delete-button {
  visibility: visible;
}

/* input[type="date"]:has(~ .delete-button:hover) {
  opacity: 30%;
} */

/* .task:hover input[type="date"] {
  opacity: 30%;
} */
