.task {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.451);
  margin: 0.2em;
  gap: 0.5em;
  align-items: center;
  border-radius: 5px;
}

.checkbox {
  height: 1.2em;
  width: 1.2em;
}

.task-title {
  outline: none;
  border: none;
  font-size: 1.2em;
}

.task-title:focus {
  border-bottom: 1px solid green;
}

.task input[type="date"] {
  font-size: 1.2em;
}

.delete-button {
  /* appearance: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  border-radius: 0.2em;
  appearance: none;
  background-color: #ffa79674;
}

.delete-button svg {
  height: 60%;
  width: 60%;
  fill: #9b1313b6;
}

.delete-button:hover {
  box-shadow: 1px 1px 3px #cd1c18;
}

.task:hover {
  box-shadow: 1px 1px 3px gray;
}
