.task {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
  border: 1px solid gray;
  margin: 0.2em;
  gap: 0.5em;
  align-items: center;
}

.checkbox {
  height: 1.2em;
  width: 1.2em;
}

.task-title {
  outline: none;
  border: none;
  font-size: 1.2em;
}

.task-title:focus {
  border-bottom: 1px solid green;
}
